body.dark{
  margin:0;
  background:#0f0f1a;
  color:white;
  font-family:'Segoe UI',sans-serif;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.start-container{
  text-align:center;
}

.title-neon{
  font-size:60px;
  color:#00f7ff;
  text-shadow:0 0 15px #00f7ff, 0 0 30px #ff004c;
  margin-bottom:40px;
}

.main-btn{
  font-size:24px;
  padding:20px 40px;
  margin:15px;
  border:none;
  border-radius:15px;
  background:#111;
  color:#ff004c;
  box-shadow:0 0 15px #ff004c;
  cursor:pointer;
}

.main-btn:hover{
  background:#ff004c;
  color:black;
}

.panel{
  width:90%;
  max-width:1000px;
  margin:auto;
  padding-top:40px;
  text-align:center;
}

.card{
  background:#1a1a2e;
  padding:15px;
  margin:10px;
  border-radius:12px;
  box-shadow:0 0 15px #00f7ff44;
}

.hidden{
  display:none;
}

.big-btn{
  font-size:28px;
  padding:30px;
  margin:15px;
}

.game-btn{
  margin:5px;
  padding:15px;
}

.neon-text{
  color:#00f7ff;
  text-shadow:0 0 10px #00f7ff;
}
