body {
  margin:0;
  font-family:sans-serif;
  background:#0d1b2a;
  color:white;
  text-align:center;
}

.center-screen {
  padding:40px 20px;
}

.hidden { display:none; }

.title {
  font-size:48px;
  margin-bottom:50px;
}

.big-text {
  font-size:36px;
  margin-bottom:20px;
}

.big-btn {
  font-size:28px;
  padding:20px;
  margin:15px;
  width:80%;
  max-width:400px;
  border:none;
  border-radius:15px;
  background:#00b4d8;
  color:white;
}

.teacher-btn { background:#ff006e; }
.student-btn { background:#00b4d8; }
.start-btn { background:#06d6a0; }

.big-select {
  font-size:28px;
  padding:15px;
  width:80%;
  max-width:400px;
  border-radius:12px;
  margin-bottom:20px;
}

.live-box {
  font-size:28px;
  margin:20px auto;
  width:80%;
  max-width:500px;
  text-align:left;
}

.status-text {
  font-size:28px;
  margin-top:20px;
}
body{
  background:#0f1c2e;
  color:white;
  text-align:center;
  font-family:Arial;
}

button{
  padding:10px 20px;
  margin:10px;
  font-size:16px;
}
