body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

.title {
  margin-top: 40px;
  font-size: 40px;
}

input {
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

#studentList {
  margin-top: 20px;
}

canvas {
  position: fixed;
  top:0;
  left:0;
  pointer-events:none;
}
