body {
  margin: 0;
  font-family: sans-serif;
  background: #0b1a33;
  color: white;
  text-align: center;
}

.main-title {
  margin-top: 30px;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.panel {
  background: #13254a;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
}

#liveList {
  margin-top: 20px;
  text-align: left;
}
